.anchor { 
color:white;
	}
.tab {
	/*background-color: #black;
	border: 1px solid blue;
	width: 300px;
	text-align: center;*/
    transition-timing-function: ease-out;
    transition: 0.25s;
	//display: inline;
	display: flex;
    justify-content: space-around;
	
	
	
}

.event_details{
	
	margin-left: 5%;
	margin-right: 5%;
	
	
	
}
#contents{
	display:flex;
	justify-content: space-around;
	
}
#tb1 {
	display:inline;
	justify-content: space-around;
	color: white;
	text-align:center;
	font-size:30px;
	width:100%;
	//padding-left: 10%;
	height: 100%;
	
}
 #tb2 , #tb3{
	display:none;
	justify-content: space-around;
	color: white;
	text-align:center;
	font-size:30px;
	width:100%;
	//padding-left: 10%;
	height: 100%;
}
